
<option value="">Please select</option>
<option value="Abia State Polytechnic">Abia State Polytechnic</option>
<option value="Abia State University, Uturu">Abia State University, Uturu</option>
<option value="ABTI-American University of Nigeria">ABTI-American University of Nigeria</option>
<option value="Abubakar Tafawa Balewa University">Abubakar Tafawa Balewa University</option>
<option value="Adamawa State polytechnic, Yola">Adamawa State polytechnic, Yola</option>
<option value="Adamawa State University, Mubi">Adamawa State University, Mubi</option>
<option value="Adekunle Ajasin University">Adekunle Ajasin University</option>
<option value="Adeniran Ogunsanya College of Education">Adeniran Ogunsanya College of Education</option>
<option value="Adeyemi College of Education, Ondo">Adeyemi College of Education, Ondo</option>
<option value="Ahmadu Bello University">Ahmadu Bello University</option>
<option value="Akanu Ibiam Federal Polytechnic, Unwana">Akanu Ibiam Federal Polytechnic, Unwana</option>
<option value="Akwa Ibom State Polytechnic">Akwa Ibom State Polytechnic</option>
<option value="Allover central polytechnic, Sango-Ota Ogun State">Allover central polytechnic, Sango-Ota Ogun State</option>
<option value="Ambrose Alli University">Ambrose Alli University</option>
<option value="Anambra State University, Anambra">Anambra State University, Anambra</option>
<option value="Auchi polytechnic, Auchi">Auchi polytechnic, Auchi</option>
<option value="Bayero University, Kano">Bayero University, Kano</option>
<option value="Bells University">Bells University</option>
<option value="Benson Idahosa University">Benson Idahosa University</option>
<option value="Bowen University, Iwo">Bowen University, Iwo</option>
<option value="BStudents and exam malpracticesock University">BStudents and exam malpracticesock University</option>
<option value="Cetep City University, Lagos">Cetep City University, Lagos</option>
<option value="College of Education, Afaha-Nsit">College of Education, Afaha-Nsit</option>
<option value="College of Education, Agbor">College of Education, Agbor</option>
<option value="College of Education, Akwanga">College of Education, Akwanga</option>
<option value="College of Education, Azare">College of Education, Azare</option>
<option value="College of Education, Ekiadolor">College of Education, Ekiadolor</option>
<option value="College of Education, Gindiri">College of Education, Gindiri</option>
<option value="College of Education, Ikere Ekiti">College of Education, Ikere Ekiti</option>
<option value="College of Education, Katsina Ala">College of Education, Katsina Ala</option>
<option value="College of Education, Oro, Kwara State">College of Education, Oro, Kwara State</option>
<option value="College of Education, Warri">College of Education, Warri</option>
<option value="College of Education, Zuba">College of Education, Zuba</option>
<option value="Covenant University">Covenant University</option>
<option value="Crawford University,Oye Ekiti">Crawford University,Oye Ekiti</option>
<option value="Cross River University of Technology">Cross River University of Technology</option>
<option value="Delta state polytechnic, Ozoro">Delta state polytechnic, Ozoro</option>
<option value="Delta State University, Abraka">Delta State University, Abraka</option>
<option value="Dorben polytechnic">Dorben polytechnic </option>
<option value="Ebonyi State University">Ebonyi State University</option>
<option value="Enugu State University of Science &amp; Technology">Enugu State University of Science &amp; Technology</option>
<option value="FCT College of Education, Zuba">FCT College of Education, Zuba</option>
<option value="Federal coll. of Animal health &amp; production Tech., Ibadan">Federal coll. of Animal health &amp; production Tech., Ibadan</option>
<option value="Federal College of Education (Special), Oyo">Federal College of Education (Special), Oyo</option>
<option value="Federal College of Education (Technical) Gombe">Federal College of Education (Technical) Gombe</option>
<option value="Federal College of Education (Technical) Gusau">Federal College of Education (Technical) Gusau</option>
<option value="Federal College of Education, (Technical) Bich">Federal College of Education, (Technical) Bich</option>
<option value="Federal College of Education, Akoka">Federal College of Education, Akoka</option>
<option value="Federal College of Education, Obudu">Federal College of Education, Obudu</option>
<option value="Federal College of Education, Okene">Federal College of Education, Okene</option>
<option value="Federal College of Education, Omoku">Federal College of Education, Omoku</option>
<option value="Federal College of Education, pankshin">Federal College of Education, pankshin</option>
<option value="Federal College of Education, Yola">Federal College of Education, Yola</option>
<option value="Federal College of Education, Zaira">Federal College of Education, Zaira</option>
<option value="Federal polytechnic, Ado – Ekiti">Federal polytechnic, Ado – Ekiti</option>
<option value="Federal polytechnic, Bauchi">Federal polytechnic, Bauchi</option>
<option value="Federal polytechnic, Birnin-Kebbi">Federal polytechnic, Birnin-Kebbi</option>
<option value="Federal polytechnic, Damaturu">Federal polytechnic, Damaturu</option>
<option value="Federal polytechnic, Ede">Federal polytechnic, Ede</option>
<option value="Federal polytechnic, Idah">Federal polytechnic, Idah</option>
<option value="Federal polytechnic, Ilaro">Federal polytechnic, Ilaro</option>
<option value="Federal polytechnic, Mubi">Federal polytechnic, Mubi</option>
<option value="Federal polytechnic, Nassarawa">Federal polytechnic, Nassarawa</option>
<option value="Federal polytechnic, Nekede">Federal polytechnic, Nekede</option>
<option value="Federal polytechnic, Oko">Federal polytechnic, Oko</option>
<option value="Federal University of Technology, Akure">Federal University of Technology, Akure</option>
<option value="Federal University of Technology, Minna">Federal University of Technology, Minna</option>
<option value="Federal University of Technology, Owerri">Federal University of Technology, Owerri</option>
<option value="Federal University Of Technology, Yola">Federal University Of Technology, Yola</option>
<option value="Gateway polytechnic Saapade">Gateway polytechnic Saapade</option>
<option value="Gombe state University,">Gombe state University,</option>
<option value="Hussaini Adamu Federal polytechnic, kazaure">Hussaini Adamu Federal polytechnic, kazaure</option>
<option value="Igbinedion University, Okada">Igbinedion University, Okada</option>
<option value="Imo State University">Imo State University</option>
<option value="Institute of Management Technology, Enugu">Institute of Management Technology, Enugu</option>
<option value="Joseph Ayo Babalola University">Joseph Ayo Babalola University</option>
<option value="Kaduna polytechnic">Kaduna polytechnic</option>
<option value="Kano State College of Education, Kano">Kano State College of Education, Kano</option>
<option value="Kano State polytechnic, Kano">Kano State polytechnic, Kano</option>
<option value="Katsina State University">Katsina State University</option>
<option value="Kogi State University, Anyigba">Kogi State University, Anyigba</option>
<option value="Kwara State College of Education">Kwara State College of Education</option>
<option value="Kwara State University">Kwara State University</option>
<option value="Kwara State Polytechnic">Kwara State Polytechnic</option>
<option value="Ladoke Akintola University of Technology">Ladoke Akintola University of Technology</option>
<option value="Lagos City polytechnic">Lagos City polytechnic</option>
<option value="Lagos State polytechnic">Lagos State polytechnic</option>
<option value="Lagos State University">Lagos State University</option>
<option value="Lead city University">Lead city University</option>
<option value="Moshood Abiola polytechnic, Abeokuta">Moshood Abiola polytechnic, Abeokuta</option>
<option value="Michael Okpara University">Michael Okpara University</option>
<option value="Nasarrawa State University">Nasarrawa State University</option>
<option value="National Open University">National Open University</option>
<option value="National Teachers Institute, kaduna">National Teachers Institute, kaduna</option>
<option value="Niger Delta University">Niger Delta University</option>
<option value="Niger State polytechnic, Zungeru">Niger State polytechnic, Zungeru</option>
<option value="Nigerian Coll. of Aviation Tech., Zaira">Nigerian Coll. of Aviation Tech., Zaira</option>
<option value="Nnamdi Azikiwe University of Agriculture, Umudike">Nnamdi Azikiwe University of Agriculture, Umudike</option>
<option value="Nuhu Bamalli polytechnic, Zaria, Kaduna State">Nuhu Bamalli polytechnic, Zaria, Kaduna State</option>
<option value="Nwafor Orizu College of Education">Nwafor Orizu College of Education</option>
<option value="Obafemi Awolowo University, ile-ife.">Obafemi Awolowo University, ile-ife</option>
<option value="Olabisi Onabanjo University, Ago-Iwoye">Olabisi Onabanjo University, Ago-Iwoye</option>
<option value="Osun State College of Education, Ila-Orangun">Osun State College of Education, Ila-Orangun</option>
<option value="Osun State College of Education, Ilesa">Osun State College of Education, Ilesa</option>
<option value="Osun State College of Technology, Esa-Oke">Osun State College of Technology, Esa-Oke</option>
<option value="Osun State polytechnic, Iree">Osun State polytechnic, Iree</option>
<option value="Osun State University">Osun State University</option>
<option value="Oyo State College Of Education, Oyo">Oyo State College Of Education, Oyo</option>
<option value="Pan African University, Lekki">Pan African University, Lekki</option>
<option value="Plateau State University">Plateau State University</option>
<option value="Ramat polytechnic, Maiduguri">Ramat polytechnic, Maiduguri</option>
<option value="Redeemer&#39;s University">Redeemer&#39;s University</option>
<option value="Renaissance University, Enugu">Renaissance University, Enugu</option>
<option value="Rivers State College of Education">Rivers State College of Education</option>
<option value="Rivers State University of Science and Technology">Rivers State University of Science and Technology</option>
<option value="Rufus Giwa polytechnic, Owo">Rufus Giwa polytechnic, Owo</option>
<option value="Salem University, Lokoja">Salem University, Lokoja</option>
<option value="Shaka polytechnic">Shaka polytechnic</option>
<option value="St. Paul&#39;s University College, Awka">St. Paul&#39;s University College, Awka</option>
<option value="Tai Solarin University of Education, Ijebu-Ode">Tai Solarin University of Education, Ijebu-Ode</option>
<option value="The Polytechnic, Ibadan">The Polytechnic, Ibadan</option>
<option value="Theological College of Northern Nigeria,Bukuru">Theological College of Northern Nigeria,Bukuru</option>
<option value="University of Abuja">University of Abuja</option>
<option value="University of Ado-Ekiti">University of Ado-Ekiti</option>
<option value="University of Agriculture, Abeokuta">University of Agriculture, Abeokuta</option>
<option value="University of Benin">University of Benin</option>
<option value="University of Calabar">University of Calabar</option>
<option value="University of Education, Ikere-Ekiti">University of Education, Ikere-Ekiti</option>
<option value="University of Ibadan">University of Ibadan</option>
<option value="University of Ilorin">University of Ilorin</option>
<option value="University of Jos">University of Jos</option>
<option value="University of Lagos">University of Lagos</option>
<option value="University of Maiduguri">University of Maiduguri</option>
<option value="University of Mkar, Mkar">University of Mkar, Mkar</option>
<option value="University of Nigeria">University of Nigeria</option>
<option value="University of Port-Harcourt">University of Port-Harcourt</option>
<option value="University of Technology, Akwa-Ibom">University of Technology, Akwa-Ibom</option>
<option value="University Of Uyo">University Of Uyo</option>
<option value="Usmanu Danfodiyo University, Sokoto">Usmanu Danfodiyo University, Sokoto</option>
<option value="Wesley University, Ondo">Wesley University, Ondo</option>
<option value="Yaba College of Technology">Yaba College of Technology</option>
<option value="Others">Others</option>
</select>
